[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-storages = "*"
python-dotenv = "*"
boto3 = "*"
psycopg2-binary = "*"
django-extensions = "*"
pillow = "*"
gunicorn = "*"
django-heroku = "*"
python = "*"

[requires]
python_version = "3.8.0"
